.paymentmodal {

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px; // Điều chỉnh chiều rộng nếu cần
    max-width: 90%; // Đảm bảo modal không vượt quá chiều rộng màn hình trên thiết bị di động
  }

  .paymentmodaltitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; // Kích thước phông chữ lớn hơn cho tiêu đề
    color: #333; // Màu sắc tiêu đề
  }

  .paymentmodalcreditcardinfo {
    display: flex;
    flex-direction: column;
  }

  .paymentmodalinputcontainer {
    margin-bottom: 20px;
  }

  .paymentmodalinputlabel {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555; // Màu sắc cho nhãn
  }

  .paymentmodalinputfield {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s; // Thêm hiệu ứng chuyển tiếp cho border

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  .paymentmodalinputsplit {
    display: flex;
    justify-content: space-between;

    input {
      width: 48%; // Đảm bảo các input chiếm 48% chiều rộng
    }
  }

  .paymentmodalcheckoutbutton {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s; // Thêm hiệu ứng chuyển tiếp cho nút

    &:hover {
      background-color: #0056b3;
    }
  }

  .paymentmodalseparator {
    margin: 20px 0;
    text-align: center;
  }

  .paymentmodalline {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 10px 0;
  }

  .paymentmodaloptions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .paymentmodalpaymentbutton {
      background-color: #fff;
      border: 1px solid #ccc; // Thêm viền cho nút thanh toán
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s, border-color 0.3s; // Thêm hiệu ứng chuyển tiếp cho nút

      &:hover {
        background-color: #f0f0f0;
        border-color: #007bff; // Thay đổi màu viền khi hover
      }

      img {
        width: 30px;
        height: 30px;
        margin: 0 auto;
      }
    }
  }
}